.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  width: 50px;
  height: 50px;
  pointer-events: none;
}


.App-header {
  min-height: 130px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;


}

.App-link {
  color: #61dafb;
}

.my-photo {
  border-radius: 50%;

}

.information-app {
  display: flex;
  height: 50vh;
  justify-content: center;
  padding-top: 10%;
}

.title-app {
  display: flex;
  flex-direction: column;
  color: white;
  height: 90%;
  width: 50%;
  margin-top: 30px;
  justify-content: center;
}

.information-app .title-app h1 {
  font-size: 50px;
}

.information-app .title-app h2 {
  font-size: 30px;
}

.navegation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
  padding-right: 10vh;
}

ul {
  list-style: none;
  align-items: flex-end;
  justify-content: space-evenly;
  display: flex;
}

li {
  padding-left: 20px;
}


@media (max-width: 896px) {
  .information-app {
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse !important;
    align-items: center;
    height: 70vh;
    padding-top: 0;
  }
  .my-photo{
    width: 250px;
    height: 250px;
  }
  .information-app .title-app h1 {
    font-size: 40px;
  }
  
  .information-app .title-app h2 {
    font-size: 20px;
  }

  .title-app {
    width: 100%;
    height: 40%;
    margin-top: 0;
  }

  .navegation {
    display: none;
  }

  .navegation ul {
    flex-direction: column;
    gap: 20px;
  }

  .navegation ul li {
    padding-left: 0;
  }
  .App {
    text-align: center;
    width: 50vh;
  }
  .App-logo {
    display: none;
  }
}